//----COLOR------
$color-white: #fff;
$color-blue-100: #007cc3; 
$color-blue-200: #2198dc; 
$color-dark-blue-100: #00446a; 
$color-dark-blue-200:#00324f; 
$color-orange: #ff4040; 
$color-black: #000; 
$color-blue-overlay: rgba(0,67,109,0.8); 
$color-gray: #f6f6f6; 
$color-gray-200: #babcbf; 
//---------FONT-SIZE--------
$font-size-html: 15px; 
$font-size-1: 1.4rem;
$font-size-2: 1.8rem; 
$font-size-3: 3.2rem; 
$font-size-4: 6rem; 


//-----------FONT-WEIGHT-------
$font-weight-bold: bold;
$font-weight-normal: normal;
$font-weight-300: 300;
$font-weight-light: lighter;

//-----------PADDING-------
$pd-0: 10px; 
$pd-1: 15px; 
$pd-2: 20px;
$pd-3: 25px; 
$pd-4: 30px; 
$pd-5: 40px;
$pd-6: 50px; 
$pd-7: 60px; 
//-----------MARGIN-------
$mg-up: -16rem; 
$mg-0: 10px; 
$mg-1: 15px;
$mg-2: 20px; 
$mg-3: 25px; 
$mg-4: 30px;
$mg-5: 40px; 
$mg-6: 50px; 
$mg-7: 60px; 



//-----------BORDER-------
$border-1: 1px solid #4f91ca; 
$border-2: 2px solid #e5e5e5; 

//-----------SHADOW-------
$box-shadow: 1px 20px 70px -10px rgba(59,59,59,63); 
